<% provide(:title, '3. Reflect and Curate a Public Post') %>
<h1>Reflect and Curate a Public Post</h1>

<h3> Select the best of the aggregated content and collaborate to create 3 stories about their experience </h3>

<div class="row">
<div class="span5">
<%= render 'shared/feed' %>

<% keywords = ["#architect_frem01", "#hacktivateed"] %>

<% keywords.each do |keyword| %>
	<ol class="microposts">
		<h2> Search Results for: <%= keyword %> </h2>
		
		<% all_feed_items = Twitter.search(keyword, :count => 5, :result_type => "recent").results %>
		<% all_feed_items.each do |status| %>
			<li>
				<%= link_to image_tag(status.user.profile_image_url), status.user.name %>
				<span class="user">
					<%= status.user.name %> 
				</span>
				<span class="content">
					<%= auto_link(status.text).html_safe %>
				</span>
				<span class="timestamp">
					Posted <%= time_ago_in_words(status.created_at) %> ago.
				</span>
			</li>
		<% end %>
	</ol>
<% end %>
</div>

<div class="span7">
Now write!
<%= render 'shared/micropost_form' %>
</div>
</div>