<li id="<%= all_feed_item.id %>">
  <%= link_to gravatar_for(all_feed_item.user), all_feed_item.user %>
    <span class="user">
      <%= link_to all_feed_item.user.name, all_feed_item.user %>
    </span>
    <span class="content"><%= all_feed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(all_feed_item.created_at) %> ago.
    </span>
</li>